* {
  -webkit-tap-highlight-color: transparent;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


html {
    height: 100%;
    color: rgb(82, 75, 95);
    font-family: Arial, Helvetica;
}

body {
  background-color: rgb(233, 233, 233)
}


h1 {
  font-size: 40px;
}



h4 {
font-weight: 30px;
font-size: 18px;
text-align: center;

}


h3 {
  font-size: 20px;
}
 

.navigation {
  overflow: hidden;
  background-color: rgb(243, 243, 243);
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  gap: 30px;

} 
  
.navigation a {
    padding: 40px 0 0 0;
    word-wrap: normal;
    display: inline-block;
    width: 150px;
  }

.colmar .navigation {

  text-align: center;
  height: 64px;
  padding: 20px;
}

#oncampus {
  margin-left: 24px;
  margin-top: 24px;
 
  
}



.oncapmus-container {
  background-color: rgb(255, 252, 248);
  display: flex;
  margin-right: 24px;

}


.banner {
  z-index: 100;
  float: left;
  position: relative;
  
}

.text-box-container {
  margin: 150px;
  padding: 5px;
  float: right;
  
}




.mobile-icons img{

 height: 50px;
 margin-left: 24px;


}

.link-container {
  overflow: hidden;
  background-color: rgb(243, 243, 243);
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 15px;
  gap: 0px;
  width: 100%;
  align-content: center;
  
}

.link-container a {
  color: #555555;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  height: 64px;
 
}


.link-container a:hover {
  background-color: #ddd;
  color: black;
}

.link-container a.active {
  background-color: #a0a0a0;
  color: white;
}

@media (min-width: 400px){
  
    .mobile-icons {
      visibility: visable;
  }
}


@media (min-width: 1000px){
  
  .mobile-icons {
    display: none;
}
}


@media (min-width: 400px){
  
  .colmar {
    visibility: none;
}
}


@media (max-width: 600px){
  
  .link-container {
    display: none;
}


@media (max-width: 900px){
  
  .oncapmus-container {
    flex-direction: column;
    flex-shrink: 25rem;
}

@media (max-width: 900px){
  
  .banner {
    width: 100%;
    height: 100%;
  
}


@media (max-width: 900px){
  
  h1 {
    font-size: 2.3vw;
  }
  
}
