

* {
  -webkit-tap-highlight-color: transparent;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


html {
    height: 100%;
    color: rgb(82, 75, 95);
    font-family: Arial, Helvetica;
}

body {
  background-color: rgb(233, 233, 233);
  overflow: visible;
}


h1 {
  font-size: 40px;
}



h4 {

font-size: 18px;
text-align: center;

}


h3 {
  font-size: 20px;
}
 

.navigation {
  overflow: hidden;
  background-color: rgb(243, 243, 243);
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  gap: 30px;
  position: fixed;
  z-index: 999;
  width: 100%;
  top:0;
 

} 
  
.navigation a {
    padding: 40px 0 0 0;
    word-wrap: normal;
    display: inline-block;
    width: 150px;
  }

.colmar .navigation {

  text-align: center;
  height: 64px;
  padding: 20px;
}

#oncampus {
  margin-left: 24px;
  margin-top: 24px;
 
  
}

.button {
      background-color: #9995ac;
      height: 50px;
      width: 200px;
      text-decoration: none;
      border-radius: 8px;
      text-align: center;
      position: absolute;
    
  
}



.button:hover {
  background-color: #7166a8;
  height: 50px;
  width: 200px;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;

}

.oncapmus-container {
  background-color: rgb(255, 252, 248);
  display: flex;
  margin-right: 24px;
  top: 0;

}


.banner {
  position: relative;
  top: 0;
  max-width:100%;
  max-height:100%;
  
}

.text-box-container {
  margin: 100px;
  
  



}
.image-container-main {
  display: flex;
  margin-right: 24px;
  top: 0;
}


.mobile-icons img{
 height: 100%;
 


}

.link-container {
  overflow: hidden;
  background-color: rgb(243, 243, 243);
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 15px;
  gap: 0px;
  width: 100%;
  align-content: center;
  
}

.link-container a {
  color: #555555;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  height: 64px;
  min-width: 120px;;
 
}


.link-container a:hover {
  background-color: #ddd;
  color: black;
}

.link-container a.active {
  background-color: #a0a0a0;
  color: white;
}



@media (min-width: 600px){
  
  .mobile-icons {
    display: none;
    justify-content: center;
}
}


@media (max-width: 600px){
  
  .colmar {
    display: none;
}
}


@media (max-width: 600px){
  
  .link-container {
    display: none;
}


@media (max-width: 900px){
  
  .oncapmus-container {
    flex-direction: column;
    flex-shrink: 25rem;
}

@media (max-width: 900px){
  
  .banner {
    width: 100%;
    height: 100%;
  
}


@media (max-width: 900px){
  
  h1 {
    font-size: 32px;
    padding: 0;
    margin: 0;
  }
  
}

@media (max-width: 900px){
  
  h4 {
    font-size: 16px;
    padding: 0;
    margin: 0;

  }
  
}


@media (max-width: 900px){
  
  .text-box-container {
    
    padding: 20px;
    margin: 20px;

  }
}