h1 {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 46px;
}


div.container {
    height: 50em;
    position: relative }

div.container h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

#red-dot {
    color:red;
    font-size: 50px;
}