
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 display: grid;
 place-items: center;
 min-height: 100vh;
 
}



.container {

 position: relative;
 display: grid;
 grid-template-columns: 300px 600px;
 border-radius: 10px;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 column-gap: 20px;
 gap:20px;

}

img {
  border-radius: 10px 0 0 10px;
  width: 100%;
  height: 200px;
 }


.container__text {
 padding: 50px;
}

h1 {
  
  font-weight: 400;
  margin-bottom: 10px;
 }



 p {
  font-size: 0.9rem;
  color: black;
  font-weight: lighter;
  font-size: 1.2rem;
 }




    